services:
  - type: web
    name: agent-vish-bot
    runtime: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn api:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.18
      - key: PORT
        value: 5000
    healthCheckPath: /
    autoDeploy: true
